.form_type_search
{
    display: inline-block;

    width: 30%;
    margin: 0 30px;

    vertical-align: middle;
}

.form_type_search .input
{
    border-bottom: 1px solid #0c9eaf;
    background: none;
}

.form_type_search .input:before
{
    box-shadow: none!important;
}

.form_type_search .input_focused
{
    border-bottom: 1px solid #d31478;
}
